@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #111;
  font-family: Arial, sans-serif;
  color: white;
}
.tasklist::-webkit-scrollbar{
display: none;
}