@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
}
*{
  color: #fff;
}
body {
  background-color: #111;
}

.tasklist::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  display: none;
}
